// -------------------------
// Drawer - AJAX Cart
// -------------------------

$item-spacing: 45px;

.drawer--ajax-cart {
  @extend .p2;

  form,
  .drawer__contents {
    height: 100%;
  }

  .drawer__header {
    position: absolute;
    z-index: 4; // Push it above empty state
    top: 0;
  }

  .drawer__body {
    display: block; // kill display: flex;
    flex: 0 1 auto; // Reset flex from base drawer
    overflow: scroll;
    -webkit-overlay-scrolling: touch;
    padding-top: 96px;

    // Ajax cart loading shield
    &:before {
      content: '';
      @include stretch-within;
      z-index: 1;
      background: transparentize($drawer-bg, 0.75);
      opacity: 0;
      pointer-events: none;
      transition: opacity $transition-duration-base $transition-timing-function-base;
    }
  }

  &.lock-ui .drawer__body:before {
    opacity: 1;
    pointer-events: auto;
    cursor: $cursor-disabled;
  }

  .drawer__footer {
    flex: 1; // make sure it's pushed to the bottom
    margin-top: 0;
  }
}

// AJAX Cart styles (not having to do with the drawer part)
.ajax-cart__empty {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: $drawer-bg;
  opacity: 0;
  pointer-events: none;

  @include h1;
  font-size: 30px;

  .is-empty & {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 400ms ease-out;
  }
}

.ajax-cart__empty-contents {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  padding-top: 100px; // make room for drawer title
}

.ajax-cart__empty-text {
  padding: 0 $drawer-padding-horizontal-mobile;

  @include media-breakpoint-up(md) {
    padding-left: $drawer-padding-horizontal-desktop;
    padding-right: $drawer-padding-horizontal-desktop;    
  }
}

.ajax-cart__empty-image {
  height: 50%;
  overflow: hidden;
  margin-top: $drawer-padding-vertical-desktop; // 32px;

  img {
    height: 100%;
    width: 100%;
    object: {
      fit: cover;
      position: bottom;
    }
  }
}

.ajax-cart__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: $item-spacing;
}

.ajax-cart__item {
  display: flex;
  align-items: flex-end;
  margin-bottom: $item-spacing;
  padding-bottom: $item-spacing;
  border-bottom: 1px solid $drawer-border-color;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.ajax-cart__item-image {
  width: 130px;

  @include media-breakpoint-up(md) {
    width: 200px;
  }

  img {
    width: 100%;
  }
}

.ajax-cart__item-contents {
  flex: 1;
  margin-left: $drawer-padding-horizontal-mobile - 10px;

  @include media-breakpoint-up(md) {
    margin-left: $drawer-padding-horizontal-desktop;    
  }
}

.ajax-cart__item-upper {

}

.ajax-cart__item-header {
  margin-bottom: 21px;
}

.ajax-cart__item-body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .ajax-cart__item-lineprice {
    justify-self: flex-end;
    flex: 1;
    text-align: right;
  }
}

.ajax-cart__item-price,
.ajax-cart__item-lineprice {
  line-height: 1;
}

.ajax-cart__item-price {
  width: 100%;
  margin-bottom: 22px;
}

.ajax-cart__item-lineprice {
  padding-left: $spacing-sm;
  min-width: 65px; // handle three digit prices without shifting the layout
}

.ajax-cart__item-footer {
  display: none;
}

.ajax-cart__footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-top: 1px solid $white;
  padding-top: 25px;

  @include media-breakpoint-up(md) {
    padding-top: 6vh;    
  }
}

.ajax-cart__footer-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &:not(:first-child) {
    padding-top: 23px;
  }

   @include media-breakpoint-up(md) {
    &:not(:first-child) {
      padding-top: 39px;
    }    
   }

  p:last-child {
    margin-bottom: 0;
  }
}

.ajax-cart__footer-total-label {
  display: inline-block;

  @include media-breakpoint-up(md) {
    margin-right: 15px;
  }
}

.ajax-cart__footer-total {
  display: inline-block;

  @include media-breakpoint-up(md) {
    min-width: 50px;
    text-align: right;
  }
}

// Single item version of the cart styling
.drawer--ajax-cart.has-single-item {
  .drawer__body {
    padding: 0;
    flex: 1;
  }

  .drawer__footer {
    flex: none;
  }

  .ajax-cart__list {
    margin-bottom: 30px;
  }

  .ajax-cart__item {
    display: block;
  }

  .ajax-cart__item-image {
    width: 100%;
    height: 38vh;
    max-height: 510px;
    overflow: hidden;

    @media (min-height: 700px) {
      height: 45vh;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .ajax-cart__item-contents {
    margin: 0 $drawer-padding-horizontal-mobile;
    padding-top: 52px;

    @include media-breakpoint-up(md) {
      margin: 0 $drawer-padding-horizontal-desktop;
      padding-top: 40px;
    }
  }

  .ajax-cart__item-upper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }  

  .ajax-cart__item-header {
    flex: 1;
    margin-bottom: 0;
    padding-right: $spacing-sm;

    @include media-breakpoint-up(md) {
      font-size: $font-size-xxl;
      padding-right: 0;
    }
  }

  .ajax-cart__item-body {
    justify-content: space-between;
    flex-wrap: nowrap;

    @include media-breakpoint-up(md) {
      align-items: center;
      margin-top: 18px;
    }



    .ajax-cart__item-price,
    .ajax-cart__item-lineprice {
      @include media-breakpoint-down(sm) {
        display: none;
      }      
    }

    .ajax-cart__item-price {
      @include media-breakpoint-up(md) {
        width: auto;
        margin-bottom: 0;
      }
    }

    .ajax-cart__item-lineprice {
      @include media-breakpoint-up(md) {
        flex: none;
      }
    }

    .quantity-adjuster {
      margin-top: -4px;

      @include media-breakpoint-up(md) {
        margin-top: 0;
      }
    }
  }

  .ajax-cart__item-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;

    @include media-breakpoint-up(md) {
      display: none;
    }

    .ajax-cart__item-price {
      margin-bottom: 0;
    } 
  }
}