// -------------------------
// Article Card
// -------------------------

.article-card {
  height: 100%;
}

.article-card__gallery {
  position: relative;
  width: 100%;
  margin-bottom: 17px;

  @include media-breakpoint-up(md) {
    margin-bottom: 46px;
  }
}

.article-card__gallery-image {
  &,
  img {
    width: 100%;
  }
}

.article-card__info {
  h4 {
    margin: 0;
    font-size: $font-size-lg;

    @include media-breakpoint-up(md) {
      font-size: $font-size-xxl;
    }
  }
}

.article-card__info-title {
  margin-bottom: 20px;
}

.article-card__info-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-card__info-bottom {
  margin-top: 4px;
  padding-right: 25%;

  @include media-breakpoint-up(md) {
    margin-top: 13px;
  }  
}
