// -------------------------
// Product Card
// -------------------------

.product-card {
  height: 100%;
}

.product-card__gallery {
  position: relative;
  width: 100%;
  margin-bottom: 17px;
  border-radius: $border-radius;
  overflow: hidden;
}

.product-card__gallery-image {
  &,
  img {
    width: 100%;
  }
}

.product-card__info {
  h4 {
    margin: 0;
  }
}

.product-card__info-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card__info-bottom {
  margin-top: 22px;
  padding-right: 25%;
}
