// -------------------------
// Footer
// -------------------------

.footer {
  p:last-child {
    margin-bottom: 0;
  }
}

.footer__upper {
  padding: 97px 0 70px;
  background-color: $black;

  &, a, h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}

.footer-text {
  @extend .p2; 
}

.footer-menu {
  @include list-inline;
  @include body-copy;
  margin-bottom: 75px;

  li {

  }
}

.footer__lower {
  padding: 19px 0 14px;
  background-color: $butter;
  @extend .p2;
}
