// -------------------------
// Header
// -------------------------

.header {
  position: relative;
  z-index: $zindex-header;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height-small;
  background-color: $header-bg;
  color: $header-text-color;
  backface-visibility: hidden;

  @media (min-width: $header-bp-min) {
    height: $header-height-base;
  }

  // If the fixed header behavior is turned on...
  .site-fixed-header & {
    position: absolute;
  }

  &.is-fixed {
    position: fixed;
  }
}

// Make a special version of .container that is fluid w/ max width and vertical flex-alignment of child elements
.header-container {
  @extend .container-fluid-max;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.header-logo {
  max-width: $header-logo-width;
}

.header-logo__image {
  width: 100%;
  transform: translateZ(0); // Prevent bluriness from scaling
}

// .header-container > .header-nav
.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;

  // Space out each nav
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;

  &.header-nav--left {
    padding-left: 0;
  }

  &.header-nav--right {
    padding-right: 0;
    justify-content: flex-end;
  }

  &.header-nav--center {
    @media (min-width: $header-bp-min) {
      justify-content: center;
    }
  }

  // For the logo block, it can either be &.header-nav--center, or .header-nav--left
  // Default to showing it in the center on large screens, but allow it flush left if necessary
  &.header-nav--logo {
    // These flex properties cause the width of the logo container to be determined by the width itself instead of adding extra whitespace
    // This gives us more room to use for menus. :)
    flex-grow: inherit;
    flex-basis: auto;
  }

  // Some menus don't need to be shown all the time
  &.header-nav--hide-on-mobile {
    @media (max-width: $header-bp-min - 1px) {
      display: none;
    }
  }

  &.header-nav--hide-on-desktop {
    @media (min-width: $header-bp-min) {
      display: none;
    }
  }
}

// List of menu items
.header-nav__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav__menu-item {
  display: inline-block;
  margin: 0 6px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  > a {
    padding: 27px 4px; // use vertical padding to match the height of the header
  }
}

// Cart Icon + Quantity
.header-cart__badge {
  display: inline-block;
  position: relative;

  &.has-items {

  }

  svg {
    width: 30px;
  }
}

.header-cart__badge-count {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;

  .has-items & {
    opacity: 1;
  }
}

