// -------------------------
// Header
// -------------------------

.header {
  position: absolute;
  z-index: $zindex-header;
  top: 0;
  left: 0;
  right: 0;
  transition: opacity 0.3s ease-out;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.5s;
  }

  // Used temporarily when closing the pencil banner
  &.is-shifting {
    transition: top 0.2s ease-out;
  }

  // Some header content show only be shown on specific screens
  .for-mobile {
    @media (min-width: $header-bp-min) {
      display: none;
    }
  }

  .for-desktop {
    @media (max-width: $header-bp-min - 1px) {
      display: none;
    }
  }  
}

.header-main {
  top: 0;
  left: 0;
  right: 0;
  padding: $spacing-sm;
  padding-bottom: 0;

  &.is-fixed {
    position: fixed;
  }

  @media (min-width: $header-bp-min) {
    padding: 0;
  }
}

.header-bar {
  height: $header-height-small;
  border-radius: $border-radius;
  background-color: $header-bg;
  color: $header-text-color;
  transition: background-color 0.3s ease-out,
              color 0.3s ease-out;

  @media (min-width: $header-bp-min) {
    height: $header-height-base;
    border-radius: 0;
  }   
}

.header-bar__content {
  display: flex;
  justify-content: space-between;
  height: 100%;

  // @TODO - All these containers are slightly different?
  @include media-breakpoint-down(sm) {
    padding-left: $spacing-sm*2;
    padding-right: $spacing-sm*2;
  }
}

.header-logo {
  height: 100%;
  padding: 11px 0;
}

.header-logo__image {
  display: inline-block;
  height: 100%;
  transform: translateY(-5%); // Logo has an accent at the top that we need to account for visually

  svg {
    // iOS safari has trouble with height: 100%; width: auto;
    display: block;
    height: 100%;
    width: 100%;
  }

  @media (min-width: $header-bp-min) {
    width: 125px; // Couldn't figure out how to get firefox to display this correctly without setting the width explicitly.

    svg {
      width: auto;
    }
  }
}

// .header-container > .header-nav
.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;

  // Space out each nav
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;

  &.header-nav--left {
    padding-left: 0;
  }

  &.header-nav--right {
    padding-right: 0;
    justify-content: flex-end;
  }

  &.header-nav--center {
    @media (min-width: $header-bp-min) {
      justify-content: center;
    }
  }

  // For the logo block, it can either be &.header-nav--center, or .header-nav--left
  // Default to showing it in the center on large screens, but allow it flush left if necessary
  &.header-nav--logo {
    // These flex properties cause the width of the logo container to be determined by the width itself instead of adding extra whitespace
    // This gives us more room to use for menus. :)
    flex-grow: inherit;
    flex-basis: auto;
  }
}

// List of menu items
.header-nav__menu {
  list-style: none;
  margin: 2px 0 0;
  padding: 0;
  @extend .p2;  
}

.header-nav__menu-item {
  display: inline-block;
  margin: 0 19px;

  @include media-breakpoint-up(lg) {
    margin: 0 30px;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  a {
    display: inline-block;
    position: relative;
    padding: 10px 0;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 220ms ease-out;
    }

    &:hover:after,
    &.is-active:after {
      transform: scaleX(1);
      transition-duration: 180ms;
    }

    // No underline on mobile
    @include media-breakpoint-down(sm) {
      &:after {
        display: none;
      }
    }
  }

  // @TODO - Figure out a better way to target the cart dandelion icon?
  .header-nav--right &:last-child a:after {
    display: none;
  }
}

// Cart Icon + Quantity
.header-cart__badge {
  display: inline-block;
  position: relative;

  &.has-items {

  }

  @include media-breakpoint-down(sm) {
    top: -2px;
  }

  svg {
    width: 26px;

    @media (min-width: $header-bp-min) {
      width: 32px;
    }
  }
}

.header-cart__badge-count {
  position: absolute;
  top: 3px;
  right: -12px;

  @include media-breakpoint-down(sm) {
    font-size: $font-size-xs;
    top: 1px;
    right: -9px;
  }
}

// Alternate colors
// Putting these modifiers at the bottom of this page because they affect header child elements
.header--transparent .header-bar {
  @media (min-width: $header-bp-min) {
    background-color: transparent;

    a, a:hover {
      color: $white;

      svg {
        fill: $white;
      }
    }
  }
}

.header--white .header-bar {
  background-color: $white;
}

.header--white-mobile .header-bar {
  @media (max-width: $header-bp-min - 1px) {
    background-color: $white;
  }
}

// transparent scrolling down, white scrolling up but only on mobile
.header--scroll-transparent .header-bar {
  background-color: transparent;
  a, a:hover {
    color: $white;

    svg {
      fill: $white;
    }
  }

  @media (max-width: $header-bp-min - 1px) {
    .scrolling-up & {
      background-color: $white;

      a, a:hover {
        color: $black;

        svg {
          fill: $black;
        }
      }        
    }
  }
}

