// -------------------------
// Mobile Menu
// -------------------------

.mobile-menu-block {

  & + & {
    margin-top: 30px;
  }
}

.mobile-menu-list {
  @include list-unstyled;
  margin-bottom: 0;

  &--primary {
    font-size: 24px;
  }

  &--secondary {
    font-family: $font-family-sans-serif;
  }
}
