// -------------------------
// Pencil Banner
// -------------------------

.pencil-banner {
  position: relative;
  z-index: $zindex-pencil-banner;
  padding: 19px 0 16px;
  background-color: $butter-dark;
  text-align: center;

  @include media-breakpoint-down(sm) {
    display: none;
  }  

  @extend .p2;

  p:last-child {
    margin-bottom: 0;
  }

  .aplos-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.pencil-banner__accent {
  @extend .p3;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.pencil-banner__close {
  width: 13px;

  svg {
    stroke: $body-color;
    stroke-width: 2px;
  }
}
