// -------------------------
// Pencil Banner
// -------------------------

.pencil-banner {
  position: relative;
  z-index: $zindex-pencil-banner;
  padding: 14px 0 10px;
  background-color: $butter-dark;
  text-align: center;

  @include p3;

  @include media-breakpoint-up(md) {
    padding: 19px 0 16px;
    @include p2;
  }


  p:last-child {
    margin-bottom: 0;
  }
}

.pencil-banner__core {
  position: relative;
}

.pencil-banner__accent,
.pencil-banner__close {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.pencil-banner__accent {
  @extend .p3;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1;
  
  left: 24px;

  @include media-breakpoint-down(sm) {
    font-size: 9px;
  }
}

.pencil-banner__close {
  display: inline-block;
  width: 13px;
  height: 13px;
  right: 24px;

  @include media-breakpoint-down(sm) {
    margin-top: -2px;
  }  

  svg {
    stroke: $body-color;
    stroke-width: 2px;
  }
}

.pencil-banner__content {
  text-align: center;
  padding: 0 69px; // make room for close button and notice
}
