// --------------------------------------------------------
// Product Page
// --------------------------------------------------------

@import 'product/product-detail-gallery';
@import 'product/product-detail-form';
@import 'product/story-popup';
@import 'product/transaction-bar';

.product-grids {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.product-grid {
  position: relative;
  display: flex;
  align-items: flex-start;

  .product-detail-form {
    @include media-breakpoint-up(md) {
      max-width: calc(1440px/2 - #{$spacing-lg*2}); // @TODO - variable-ize 1440
    }
  }
}

.product-grid__col {
  flex: 1;
  width: 50%;
  // height: 100%;
  min-height: 110vh;

  &.product-grid__col--sticky {
    position: sticky;
    top: 0;
    min-height: 100vh;
    // min-height: 0;
  }

  // Aplos rows are used for accent imagery
  // Since they contain 2 images and are inside a 50vw column, setting the height to 25vw makes each aplos block square
  .aplos-row {
    min-height: 25vw;
  }  
}

.product-detail__child {
  height: 100%;

  &--form {
    padding: $spacing-lg;
    padding-top: $spacing-lg + 100px;
    background-color: $white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.product-highlights {
  margin-top: 4.5rem;
}

.product-highlight {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 2rem;
  border-top: 1px solid black;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.product-recipes {
  .rte {
    margin-bottom: $spacing-ml;
  }

  .recipe-ingredients {
    padding-top: 20px;
    margin-top: auto;
  }

  .swiper-pagination {
    position: relative;
    text-align: left;
    margin-top: $spacer*5;
  }

  .swiper-pagination-bullet {
    opacity: 1;
    background-color: $white;
    border: 1px solid $black;
    transition: background-color 0.15s ease-in;

    &.swiper-pagination-bullet-active {
      background-color: $black;
    }
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    height: 8px;
    width: 8px;

    &:first-child {
      margin-left: 0;
    }
  }  
}

.product-mobile {
  height: 100vh;
  height: var(#{'--viewport-height'});
  display: flex;
  flex-direction: column;
  background-color: $butter;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.product-mobile__imagery {
  position: relative;
  height: 68vh;

  img {
    height: 100%;
    width: 100%;
  }
}

.product-mobile__imagery-bg img,
.product-mobile__imagery-bg video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-mobile__imagery-fg {
  position: absolute;
  z-index: 1; // Push above the titles that come below it
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 118px 20px 0;
  mix-blend-mode: multiply;

  img {
    display: block;
    margin: 0 auto;
    width: auto;
  }
}

// @TODO - This is temp, for the demo
.product-mobile__imagery-cover {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 16%; // Make it align with the label
  background: $butter;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 21%;
    background-color: #ffffffb8;
    -webkit-transform: translate(-50%, -49%);
    transform: translate(-50%, -49%);
  }
}

.product-mobile__titles {
  height: 32vh;
  flex: 1;
  padding: 33px $spacing-sm 0;
  text-align: center;
}