// --------------------------------------------------------
// Product Page
// --------------------------------------------------------

@import 'product/product-detail-gallery';
@import 'product/product-detail-form';
// @import 'product/story-popup';
@import 'product/transaction-bar';

.product-grids {
}

.product-grid {
  position: relative;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: flex-start;
  }

  .product-detail-form {
    @include media-breakpoint-up(md) {
      max-width: calc(1440px/2 - #{$spacing-lg*2}); // @TODO - variable-ize 1440
    }
  }

  &--recipes {
    align-items: stretch;

    .product-grid__col--sticky {
      min-height: 0;
      max-height: 100vh;
    }

    .product-detail-gallery {
      height: 100%;
    }

    @include media-breakpoint-down(sm) {
      .product-detail__child--gallery {
        height: 100vw;
      }
    }

    @include media-breakpoint-up(md) {
      flex-direction: row-reverse;
    }
  }
}

.product-grid__col {
  @include media-breakpoint-up(md) {
    flex: 1;
    width: 50%;
    min-height: 110vh;
    // height: 100%
  }

  &.product-grid__col--sticky {
    @include media-breakpoint-up(md) {
      position: sticky;
      top: 0;
      min-height: 100vh;
      // min-height: 0;
    }
  }

  // Aplos rows are used for accent imagery
  // Since they contain 2 images and are inside a 50vw column, setting the height to 25vw makes each aplos block square
  .aplos-row {
    min-height: 50vw;
    
    @include media-breakpoint-up(md) {
      min-height: 25vw;
    } 
  }

  // When used on this page outside of a row
  // Let the content determine the height
  .aplos-block {
    min-height: 0;
  }
}

.product-detail__child {
  height: 100%;

  &--form {
    // padding: $spacing-md $spacing-lg $spacing-lg;
    // background-color: $white;
    display: flex;
    // flex-direction: column;
    // justify-content: flex-end;

    @include media-breakpoint-up(md) {
      padding-top: $spacing-lg + 100px;
      min-height: 100vh;
    }
  }
}

.product-highlights {
  margin-top: 4.5rem;
}

.product-highlight {
  margin-top: 50px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background-color: $black;
    transform: translateX(-#{$spacing-ml/2});
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    padding-top: 50px;
    padding-bottom: 2rem;
    border-top: 1px solid $black;

    &:after {
      display: none;
    }
  }
}

.product-highlight__title {
  margin-bottom: $spacing-smd;

  @include media-breakpoint-down(sm) {
    br {
      display: none;
    }
  }
}

.product-highlight__title-index {
  padding-right: 10px;
}

.product-recipes {

  @include media-breakpoint-down(sm) {
    background-color: $black;

    h2,
    .rte {
      color: $white;
    }

    .swiper-container {
      display: none;
    }
  }

  .rte {
    margin-bottom: $spacing-ml;
  }

  .recipe-ingredients {
    padding-top: 20px;
    margin-top: auto;
  }

  .swiper-pagination {
    position: relative;
    text-align: left;
    margin-top: $spacer*5;
  }

  .swiper-pagination-bullet {
    opacity: 1;
    background-color: $white;
    border: 1px solid $black;
    transition: background-color 0.15s ease-in;

    &:first-child {
      margin-left: 0;
    }    

    &.swiper-pagination-bullet-active {
      background-color: $black;
    }
  }
}


.product-reviews {
  @include media-breakpoint-up(md) {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $butter-gray;
  }
}
