// -------------------------
// Yotpo
// -------------------------

// These variables should be defined in variables.scss.liquid but need to default to `false` in order for our conditional logic to work
$yotpo-icon-star:        false !default;
$yotpo-icon-star-half:   false !default;

.yotpo-main-widget {
  opacity: 0;
  transition: opacity 1s ease-out;

  &.is-ready {
    opacity: 1;
  }
}

// Double up the specificity to override widget styles
.yotpo.yotpo {

  // Yotpo sets styling on *all* of these things ugh..
  div,
  span,
  p,
  a,
  img,
  i,
  strong,
  sup,
  ul,
  li,
  form,
  label {
    font-family: $font-family-base;
    font-size: $font-size-base !important;
    line-height: $line-height-base !important;
    color: $body-color !important;  
  }

  label {
    font-family: $font-family-sans-serif;
  }

  a {
    color: $link-color !important;

    &:focus,
    &:hover {
      color: $link-hover-color !important;
    }
  }
  
  .yotpo-icon {}

  .yotpo-icon-default-star,
  .yotpo-icon-star,
  .yotpo-icon-default-half-star,
  .yotpo-icon-half-star,
  .yotpo-icon-default-empty-star,
  .yotpo-icon-empty-star,
  .yotpo-icon-thumbs-up,
  .yotpo-icon-thumbs-down {
    &:before {
      content: '' !important; // remove the 'star' font icon character
      display: inline-block;
      height: 12px;
      width: 12px;
      background: {
        size: cover;
        repeat: no-repeat;
      }
    }
  }

  // Something weird about the stars, they dont' play nice with height + width + background-size: cover
  .yotpo-icon-default-star,
  .yotpo-icon-star,
  .yotpo-icon-default-half-star,
  .yotpo-icon-half-star,
  .yotpo-icon-default-empty-star,
  .yotpo-icon-empty-star {
    &:before {
      background-size: auto;
    }
  }

  .yotpo-stars,
  .review-stars,
  .yotpo-review-stars,
  .stars-wrapper {
    .yotpo-icon + .yotpo-icon {
      margin-left: 0;
    }
  }

  .yotpo-icon-default-star,
  .yotpo-icon-star,
  .yotpo-icon-default-half-star,
  .yotpo-icon-half-star {
    &:before {
      background-image: url($yotpo-icon-star);
    }
  }

  .yotpo-icon-default-empty-star,
  .yotpo-icon-empty-star {
    &:before {
      background-image: url($yotpo-icon-star);
      opacity: 0.19;
    }
  }

  // 
  .yotpo-mandatory-mark,
  .yotpo-mandatory-explain {
    display: none !important;
  }

  .yotpo-bottomline {

    .yotpo-stars {
      margin-right: 22px;
    }

    a {
      &,
      &:hover,
      &:focus {
        color: $gray-dark !important;
      }
    }

    .text-m {
      font-size: $font-size-sm !important;
      color: $gray;
    }
  }

  // Re-usable bordered box with padding+ margins
  .yotpo-regular-box {
    margin-left: 0;
    margin-right: 0;
    padding: 30px 0;
    border-top: 1px solid $hr-border-color;

    @include media-breakpoint-up(md) {
      padding: 45px 0;
    }
  }

  .yotpo-small-box {
    padding-left: 0;
    padding-right: 0;
  }

  .yotpo-nav {
    display: none !important;
  }

  .write-question-button,
  .write-review-button {

    position: static !important;
    
    // &.yotpo-icon-btn {
    //   padding: 9px 30px 10px !important;
    //   border: $btn-border-width solid $btn-default-border !important;
    //   background: transparent !important;
    // }

    .yotpo-icon-button-text {
      // color: $btn-default-color !important;
      // font-size: $btn-font-size !important;
      // font-weight: $btn-font-weight !important;
      // font-family: $btn-font-family !important;
    }

    &:hover,
    &:focus {
      &.yotpo-icon-btn {
        // border-color: $btn-default-hover-border !important;
        // background-color: $btn-default-hover-bg !important;
      }

      .yotpo-icon-button-text {
        // color: $btn-default-hover-color !important;
      }
    }

    .yotpo-icon {
      display: none;
    }
  }

  .write-question-button {
    display: none !important;
  }

  // The box at the top containing the Yotpo logo
  .main-widget > .yotpo-small-box:first-child {
    display: none;
  }

  .yotpo-bottomline.yotpo-bottomline-2-boxes {
    display: flex;
    justify-content: flex-end;
    border: none;
    margin-bottom: $spacer*2;
    padding: 0;
    text-align: left;

    .yotpo-clr,
    .write-review-button,
    .yotpo-stars {
      display: none !important;
    }
  }

  // Review summary
  // Summary breakdown
  // .yotpo-bottomline-box-1,
  // .yotpo-bottomline-box-2 {
  //   display: none;
  // }

  .yotpo-stars-and-sum-reviews {
    text-align: right !important;
    float: none !important;

    .yotpo-sum-reviews {
      display: block !important;
      padding: 0;
      margin: 0 !important;
    }
  }

  // "Write review" button
  .yotpo-bottomline-box-2 {
    display: none;
  }

  // 'Be the first to write a review' text
  .yotpo-first-review {
    display: none;
  }

  // Form Styling

  input, .y-input {
    font-family: $font-family-base;
  }

  .label-with-tooltip,
  .y-label,
  label.y-label,
  .vote-btn,
  .yotpo-sum-reviews .based-on,
  .write-review .form-input-error,
  // .yotpo-pager .yotpo_previous,
  // .yotpo-pager .yotpo_next,
  .yotpo-pager .yotpo-page-element {
    // @include p2;
    font-size: $p2-font-size !important;
    line-height: $p2-line-height !important;
    font-family: $p2-font-family !important;
  }

  .label-with-tooltip,
  .y-label,
  label.y-label {
    display: block;
  }

  .y-label,
  label.y-label {
    // margin-bottom: 6px;
    margin: 0 !important;
    padding: 0;    
  }

  .write-review-wrapper {
    border-top: 1px solid $hr-border-color;
  }

  .write-review {
    &.yotpo-regular-box {
      border: none !important;
    }

    .y-label {
      // font-family: $label-font-family !important;
    }
    
    .review-star {
      cursor: pointer;
    }

    .connect-wrapper {
      padding-left: 0;
    }

    .socialize-wrapper {
      display: none !important;
    }

    .form-input-error {
      color: $gray;
      padding-left: 4px;
    }
  }

  .form-element {

    margin-bottom: $form-group-margin-bottom*1.5;

    .y-input {
      @extend .form-control;
      margin-top: 7px;
      margin-bottom: 0;
    }
  }

  .form-element .y-label,
  .yotpo-header .y-label,
  .socialize-wrapper .y-label {
    // font-size: $label-font-size !important;
    // font-weight: $label-font-weight;
  }

  .yotpo-header-title {
    font-family: $h3-font-family !important;
    font-size: $h3-font-size !important;
    line-height: $h3-line-height !important;
    color: $body-color !important;
  }

  // End Form Styling

  .yotpo-default-button,
  .primary-color-btn,
  input[type="button"].yotpo-default-button,
  input[type="button"].primary-color-btn {
    @extend .btn;
    border-radius: $border-radius !important;
    padding: 22px 93px !important;
    background-color: transparent !important;
    border: 1px solid $black !important;
    text-transform: none !important;

    .yotpo-icon {
      display: none !important;
    }

    .yotpo-icon-button-text {
      font-family: $btn-font-family;
      font-weight: $btn-font-weight;
      font-size: $btn-font-size !important;
      line-height: $btn-line-height !important;
    }

    &:hover,
    &:focus {
      background-color: $black !important;
      border: 1px solid $black !important;
      
      &, .yotpo-icon-button-text {
        color: $white !important;
      }
    }

    &.yotpo-disabled {
      opacity: 0.25 !important;
      cursor: $cursor-disabled !important;
    }    
  }

  // .write-review-button {
  //   @extend .btn;
  //   @extend .btn-primary;

  //   &.yotpo-visible-mobile {
  //     @media (max-width: 541px) {
  //       background-color: $color-white !important;
  //       letter-spacing: $letter-spacing-base !important;
  //       color: $color-dark-grey !important;
  //       text-transform: none !important;
  //       border-color: $color-white !important;
  
  //       .yotpo-icon { color: $color-dark-grey !important; }
  //     }
  //   }
  // }

  .content-review {
    display: block !important;
    max-width: 26em;

    @include media-breakpoint-up('lg') {
      max-width: 37vw;
    }

    &, .rest-content-collapsed {
      font-size: $body-copy-font-size !important;
      font-weight: $body-copy-font-weight !important;
      line-height: $body-copy-line-height !important;

      @include media-breakpoint-down(md) {
        font-size: $font-size-base !important;
        line-height: $line-height-smaller !important;
      }
    }

    .yotpo-read-more {
      display: none !important;
    }
    .rest-content-collapsed {
      display: inline !important;
    }
  }

  // Pager
  .yotpo-pager {
    margin: 60px 0 !important;

    .yotpo-page-element {
      font-weight: normal !important;

      &.yotpo-disabled {
        color: $gray !important;
        pointer-events: none;
      }
    }

    .yotpo_previous,
    .yotpo_next {
      position: relative;
      padding-bottom: 9px;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 220ms ease-out;
      }
      &:hover:after{
        transform: scaleX(0);
        transition-duration: 180ms;
      }      
    }

    .yotpo_previous:before {
      content: 'Prev';
      font-family: $p2-font-family !important;
    }

    .yotpo_next:before {
      content: 'Next';
      font-family: $p2-font-family !important;
    }

    .goTo {
      &:before {
        content: 'Pg. ';
      }

      &:not(.yotpo-active) {
        display: none !important;
      }
    }   
  }

  // Need .yotpo-review to override specificity
  // These are elements contained inside each review listed
  .yotpo-review {
    display: flex;

    .yotpo-main,
    .yotpo-footer {
      margin: 0 !important;
    }

    .yotpo-header {
      // margin-bottom: $spacer * 1.1;
      padding-right: $grid-gutter-width / 2;

      @include media-breakpoint-up(md) {
        padding-right: 19vw;        
      }

      .yotpo-header-element {
        display: block;
        padding-top: 0;
        margin-bottom: 5px;

        .y-label.yotpo-font-bold {
          font-weight: $font-weight-base !important;
          margin-bottom: 1px !important;
        }

        .yotpo-review-stars {
          margin-top: 15px;
        }

        .pull-left {
          float: none !important;
        }
      }

      .yotpo-icon-profile {
        display: none;
      }

      .yotpo-header-actions {
        float: none;
      }

      .yotpo-user-name {
        margin-right: 0;
      }

      .yotpo-review-date {
        display: none ;
        // font-size: $font-size-sm !important;
        // color: $gray !important;
        // font-weight: $font-weight-base;
        // margin-top: 5px;
        // margin-left: 10px;
        // float: none !important;
      }
    }

    .yotpo-main {
      flex: 1;
      margin-bottom: 15px;

      @include media-breakpoint-up(md) {
        margin-bottom: 45px;
      }

      .content-title {
        display: none;
      }
    }

    .yotpo-footer {
      @include media-breakpoint-down(md) {
        display: none;
      }

      .footer-actions {
        display: none;
      }

      .yotpo-helpful {
        float: none;
        text-align: right;

        .y-label {
          color: $gray !important;
          // font-size: $font-size-sm !important;
          text-transform: none;

          &.yotpo-sum {
            display: none !important;
            // font-size: $font-size-xs;

            // &[data-type="up"] {
            //   color: $primary !important;
            // }
          }
        }

        .vote-btn {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: currentColor;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 220ms ease-out;
          }

          &:hover:after{
            transform: scaleX(1);
            transition-duration: 180ms;
          }

          &[data-type="up"]:before {
            content: 'YES';
          }
          &[data-type="down"]:before {
            content: 'NO';
          }

          .yotpo-icon {
            display: none;
          }       
        }

        .vote-btn {
          margin-left: 20px;
        }
      }
    }
  }

  // Mobile version uses this as a hook for styling
  &.yotpo-main-widget.yotpo-small .yotpo-review {

    .yotpo-header {

      .yotpo-header-actions {
        display: inline-block;
      }
    }

    .yotpo-footer {
      
      .footer-actions,
      .footer-additional-actions {
        display: none;
      }

      .yotpo-helpful {
        float: none;
      }

      .label-helpful {
        display: inline-block;
      }        
    }
  }

  &.yotpo-main-widget.yotpo-small .yotpo-nav .yotpo-dropdown-wrapper.mobile-collapse .yotpo-menu-mobile-collapse {
    border: none;

    .yotpo-nav-dropdown-category {
      padding-left: 0;
      padding-right: 0;

      &:hover {
        background: transparent;
      }

      .y-label {
        font-size: $font-size-sm !important;
      }
    }
  }

  &.yotpo-main-widget.yotpo-small {

    .yotpo-bottomline.yotpo-bottomline-2-boxes {
      height: auto;
    }
  }

  .yotpo-tool-tip,
  .yotpo-tool-tip-question,
  .yotpo-tool-tip-answer {

    border-color: $gray !important;
    max-width: 340px !important;

    // Match .content-review
    .tool-tip-content {
      font-size: $font-size-sm !important;
    }
  }

  .error-box {
    // @extend %alert;
    // @extend %alert-danger;

    .text-wrapper {
      padding: 0;
      margin: 0 25px;
      text-align: center;
    }
    label {
      text-transform: none;
    }
  }

  .yotpo-thank-you {
    border: none !important;
    background: transparent !important;
    padding: 60px 40px !important;

    .yotpo-icon-cross {
      right: 0 !important;
    }

    .yotpo-thankyou-header {
      margin-bottom: 10px;

      .yotpo-icon {
        display: none !important;
      }

      span {
        font-size: $h3-font-size !important;
        line-height: $h3-line-height !important;
        font-family: $h3-font-family !important;
        text-transform: none !important;
        font-weight: normal !important;
      }
    }
  }

  // Create a footer - this doesn't exist in the default widget
  .main-widget-footer {
    display: flex;
    justify-content: space-between;    
    border-top: 1px solid $hr-border-color;
    padding-top: 30px;
    transition: opacity 0.5s ease-out;

    .write-button {
      float: none;
    }
  }

  .yotpo-no-reviews .main-widget-footer {
    justify-content: center;
    border-top: none;
  }  

  .write-review-wrapper.visible + .main-widget-footer {
    opacity: 0;
    pointer-events: none;
  }


  // Bottomline
  .standalone-bottomline .star-clickable {
    flex-direction: column-reverse;
    margin-top: $spacing-smd;

    .text-m {
      @include p2;
      color: $body-color !important;
    }
  }
}
