// -------------------------
// Product Detail Gallery
// -------------------------

.product-detail-gallery {
  position: relative;
  height: 100vh;
  height: var(#{'--viewport-height'});

  @include media-breakpoint-down(md) {
    transition: height 0.8s ease-out;
  }

  // @include media-breakpoint-up(md) {
  //   width: 100%;
  //   height: 100vh;
  //   // position: sticky;
  //   // top: 0px;
  //   // max-height: none;
  // }

  .swiper-container {
    height: 100%;
  }

  .swiper-slide,
  .swiper-pagination {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  .swiper-container-initialized .swiper-slide,
  .swiper-container-initialized .swiper-pagination {
    opacity: 1;
  }

  // .swiper-pagination-bullet {
  //   height: 8px;
  //   width: 8px;
  // }

  // .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  //   margin: 0 8px;
  // }

  .swiper-pagination {
    bottom: 19px;
    left: $spacing-md;
    right: $spacing-md;
    text-align: center;
    width: auto;
    transition-delay: 0.5s;
    transition-duration: 1s;

    @include media-breakpoint-up(md) {
      left: $spacing-md - $swiper-bullet-size;
      right: auto;
      text-align: left;
    }
  }

  .gallery-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img,
    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  // .gallery-image--background {
  //   img,
  //   video {
  //     position: absolute;
  //     filter: blur(2px);
  //   }
  // }

  .gallery-image--foreground {
    // height: 78vh;
    height: calc(100% - 180px);
    // height: calc(var(--viewport-height) - 180px);
    padding: 120px 30px 0;

    @include media-breakpoint-up(md) {
      padding: 188px 30px 120px;
      height: 100%;
      max-height: none;
    }

    img {
      position: relative;
      z-index: 1;
      object-fit: contain;
      mix-blend-mode: normal;
      opacity: 0.9;
    }
  }

  .gallery-subtitle {
    @include p2;
    color: $white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 90px; // Make room for transaction bar
    text-align: center;
    padding: 0 $spacing-sm;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
