// -------------------------
// Product Detail Form
// -------------------------

.product-detail-form {
  height: calc(100vh - 250px);
  min-height: 767px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}