// --------------------------------------------------------
// Story Popup
// --------------------------------------------------------

/*
  Structure looks like this

  .story-cards__container
    .swiper-wrapper
      .swiper-slide
        .story-card <- Border radius + shadow
          .story-card__inner <- Background color to cut off shadow from adjacent cards
            .story-card__header <- Absolutely positioned at the top
            .story-card__body <- Fills the height of the card, stopping at the bottom above pagination, has black bottom border
              .story-card__body-scroller
                .story-card__body-contents
*/

body.story-popup-open {
  overflow: hidden;
}

.story-popup {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  // max-height: 800px;
  transform: translateY(83%);
  transition: transform 0.45s cubic-bezier(0.36, 0.8, 0.64, 0.96);

  &.is-active {
    transform: translateY(0%);
    transition: transform 0.7s cubic-bezier(0.19, -0.01, 0, 1.02);
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.story-popup__contents,
.story-cards__container,
.story-card,
.story-card__inner {
  height: 100%;
}

.story-popup__contents {
  // position: relative;
  // border-radius: $border-radius-xl $border-radius-xl 0 0;
  // overflow: hidden;

  .story-cards-pagination {
    position: absolute;
    z-index: 1;
    bottom: 89px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.story-cards__container {
  overflow: visible; // Otherwise shadows won't display correctly

  .swiper-slide {
    padding-top: 85px; // Make room for the header
  }
}

.story-card {
  position: relative;
  z-index: 1;
  overflow: hidden; // use with border-radius to cause clipping
  
  box-shadow: 0 -1px 23px transparent;
  transition: box-shadow 0.8s ease-out;

  .story-popup.is-active & {
    box-shadow: 0 -1px 23px transparentize($black, 0.5);
  }  

  .swiper-slide:first-child & {
    border-top-left-radius: $border-radius-xl;
  }

  .swiper-slide:last-child & {
    border-top-right-radius: $border-radius-xl;
  }

  .story-popup-trigger {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    svg {
      transform: rotate(180deg);
    }
  }
}

.story-card__inner {
  position: relative; // Required to clip content with border top radius
  z-index: 1;
  overflow: hidden;
  background-color: $butter;
}

.story-card__header {
  position: absolute;
  height: 25vh;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object: {
      fit: cover;
      position: center;
    }
  }
}

.story-card__body {
  position: relative;
  z-index: 1;
  height: 100%;
  padding-bottom: 118px; // Make room for pagination

  &:after {
    content: '';
    position: absolute;
    left: 12px;
    right: 12px;
    height: 1px;
    background-color: $black;
  }
}

.story-card__body-scroller {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  .story-card__header + .story-card__body & {
    padding-top: 25vh; // Match header image
  }  
}

.story-card__body-contents {
  position: relative;
  z-index: 2; // Push it over the header image
  padding: 0 $spacing-sm; // @TODO - this is the horizontal padding on grid for small screens.. 
  padding-bottom: 20px;
  background-color: $butter;
}

.story-card__title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0 3px;
  border-bottom: 1px solid $black;
  margin-bottom: 14px;
  padding-top: 43px;

  h2 {
    margin: 0;
  }

  // If there's a header image, reduce the top margin
  .story-card__header + .story-card__body & {
    padding-top: 21px;
  }
}

// Up / down caret used to open close the popup
.story-popup-trigger {
  width: 40px;
  padding: 0 14px; // SVG -> 12px width

  @include media-breakpoint-up(md) {
    display: none;
  }  

  svg {
    stroke: $black;
  }
}