// --------------------------------------------------------
// Transacion Bar
// --------------------------------------------------------

.transaction-bar {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 0;

  // Above this breakpoint, the bar toggles on / off based on scroll position
  @include media-breakpoint-up(md) {
    left: 50%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 300ms ease-out;

    &.is-active {
      pointer-events: auto;
      opacity: 1;
    }
  }

  // Need to figure this out, this container works differently inside the transaction bar?
  .aplos-4side-container {
    padding-top: 0;

    @include media-breakpoint-up(xl) {
      padding: $spacing-md;
      padding-top: 0;
    }   
  }
}

.transaction-bar__unit-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  border-radius: $border-radius;
  overflow: hidden;
  background-color: $white;
}

.transaction-bar__unit {
  flex: 1;

  &--title {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &--subtitle {   
    @include media-breakpoint-down(xxl) {
      display: none;
    }
  }

  &--quantity {
    flex: 0 1 auto;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }  

  &--add-to-cart {
    align-self: stretch;
    padding: 0;
    width: 100%;

    .btn {
      height: 100%;
      min-width: 250px;
      border-radius: 0; // unit container clips the corner for us   

      @include media-breakpoint-down(sm) {
        padding: 24px 18px 22px;    
      }
    }  
  }

  h2,
  p:last-child {
    margin-bottom: 0;
  }
}

// Padding has to go *inside* the __unit element for flex:1 to set the elements with equal width
.transaction-bar__pad {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 8px 9px;

  @include media-breakpoint-up(md) {
    padding: 25px 20px;
  }

  @include media-breakpoint-up(xl) {
    padding: 19px 20px;
  }  
}
