<div class="bg-butter">
  {% section 'help-header' %}

  <div class="aplos-container drawer-shifter">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
        {% section 'help-navigation' %}
      </div>
      <div class="col-12 col-md-8 col-lg-9">
        {% section 'help-questions-1' %}
        {% section 'help-questions-2' %}
        {% section 'help-questions-3' %}
      </div>
    </div>
  </div>
</div>