<div id="account-drawer" class="drawer drawer--account">
  <div class="drawer-overflow">
    <a href="#" class="drawer__close" data-drawer-close>
      {% include 'icon-close' %}
    </a>

    <div class="drawer__contents">   
      <div class="drawer__header">Account</div>    

      {% comment %} Create 3 different body elements to swap between {% endcomment %}
      <div id="ad-login" class="drawer__body">
        {% form 'customer_login', class: 'form-inverted' %}
          <h3 class="drawer__body-title">Account Login</h3>

          <div class="form-group row {% if form.errors contains 'email' %}is-invalid{% endif %}">
            <label for="ad-customer-email" class="col-4 col-lg-3">E&mdash;Mail</label>
            <div class="col-8 col-lg-9">
              <input type="email"
                name="customer[email]"
                id="ad-customer-email"
                class="form-control"
                spellcheck="false"
                autocomplete="off"
                autocapitalize="off">
            </div>
          </div>

          {% if form.password_needed %}
            <div class="form-group row {% if form.errors contains 'password' %}is-invalid{% endif %}">
              <label for="ad-customer-password" class="col-4 col-lg-3">Password</label>
              <div class="col-8 col-lg-9">
                <input type="password"
                  name="customer[password]"
                  id="ad-customer-password"
                  class="form-control">
              </div>
            </div>
          {% endif %}        
          
          <div class="form-group form-group--footer row">
            <div class="col-4 col-lg-3"></div>
            <div class="col-8 col-lg-9">
              <button type="submit" class="btn btn-primary-white btn-block">
                Login
              </button>
            </div>
          </div>

          <div class="drawer__body-footer">
            {% if form.password_needed %}
              <a href="#" class="p2" data-show-contents="#ad-password">Forgot Password?</a>
            {% endif %}
            <a href="#" class="p2" data-show-contents="#ad-create-account">Create An Account</a>
          </div>
        {% endform %}        
      </div>

      <div id="ad-create-account" class="drawer__body" style="display: none">
        <h3 class="drawer__body-title">Create Account</h3>
        {% form 'create_customer', class: 'form-inverted' %}
          <div class="form-group row">
            <label for="ad-create-firstname" class="col-4 col-lg-3">
              First Name
            </label>
            <div class="col-8 col-lg-9">
              <input type="text"
                name="customer[first_name]"
                id="ad-create-firstname"
                class="form-control">
            </div>
          </div>

          <div class="form-group row">
            <label for="ad-create-lastname" class="col-4 col-lg-3">
              Last Name
            </label>
            <div class="col-8 col-lg-9">
              <input type="text"
                name="customer[last_name]"
                id="ad-create-lastname"
                class="form-control"
                {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
            </div>
          </div>

          <div class="form-group row {% if form.errors contains 'email' %}is-invalid{% endif %}">
            <label for="ad-create-email" class="col-4 col-lg-3">
              E&mdash;Mail
            </label>
            <div class="col-8 col-lg-9">
              <input type="email"
                name="customer[email]"
                id="ad-create-email"
                class="form-control"
                value="{% if form.email %}{{ form.email }}{% endif %}"
                spellcheck="false"
                autocomplete="off"
                autocapitalize="off">
            </div>
          </div>

          <div class="form-group row  {% if form.errors contains 'password' %}is-invalid{% endif %}">
            <label for="ad-create-password" class="col-4 col-lg-3">
              Password
            </label>
            <div class="col-8 col-lg-9">
              <input type="password"
                name="customer[password]"
                id="ad-create-password"
                class="form-control">
            </div>
          </div>

          <div class="form-group row {% if form.errors contains 'password' %}is-invalid{% endif %}">
            <label for="ad-create-passconfirm" class="col-4 col-lg-3">
              Confirm
            </label>
            <div class="col-8 col-lg-9">
              <input type="password"
                name="customer[password_confirm]"
                id="ad-create-passconfirm"
                class="form-control">
            </div>
          </div>    

          <div class="form-group form-group--footer row">
            <div class="col-4 col-lg-3"></div>
            <div class="col-8 col-lg-9">
              <button type="submit" class="btn btn-primary-white btn-block">
                Create an Account
              </button>
            </div>
          </div>
        {% endform %}

        <div class="drawer__body-footer">
          <a href="#" class="p2" data-show-contents="#ad-login">Back To Login</a>       
        </div>        
      </div>

      <div id="ad-password" class="drawer__body" style="display: none">
        <h3 class="drawer__body-title">Forgot Password?</h3>
        {% form 'recover_customer_password', class: 'form-inverted' %}
          <div class="form-group row">
            <label for="ad-recover-email" class="col-4 col-lg-3">
              E&mdash;Mail
            </label>
            <div class="col-8 col-lg-9">
              <input type="email"
                name="email"
                id="ad-recover-email"
                class="form-control"
                spellcheck="false"
                autocomplete="off"
                autocapitalize="off">
            </div>
          </div>
      
          <div class="form-group form-group--footer row">
            <div class="col-4 col-lg-3"></div>
            <div class="col-8 col-lg-9">
              <button type="submit" class="btn btn-primary-white btn-block">
                Submit
              </button>
            </div>
          </div>  
        {% endform %}
        <div class="drawer__body-footer">
          <a href="#" class="p2" data-show-contents="#ad-login">Back To Login</a>       
        </div>        
      </div>
    </div>
  </div>
</div>
