{%- comment %}

  Product Detail Snippet
  ------------------------------------------------------------------------------

  Usage:

  {% include 'product-detail',
              product: { product } - required,
              block: { block }
  %}

{% endcomment -%}

{% assign current_variant = product.selected_or_first_available_variant %}

<div class="product-detail" data-product-detail>
  <div class="product-detail__grid">
    <div class="product-detail__child product-detail__child--gallery">
      {% render 'product-detail-gallery',
                  product: product,
                  product_image: block.settings.product_image,
                  product_background_image: block.settings.product_background_image
      %}
    </div>

    <div class="product-detail__child product-detail__child--form">
      {% render 'product-detail-form',
                 product: product,
                 current_variant: current_variant,
                 block: block
      %}
      <a href="#" class="btn btn-tertiary" data-story-popup-open>Open Popup</a>
    </div>
  </div>
  <div class="product-detail__grid" style="display: none;">
    <div class="product-detail__child product-detail__child--gallery">
      Other gallery
    </div>
    <div class="product-detail__child">
      Story
    </div>
  </div>

  {% render 'story-popup',
             product: product
             block: block
  %}
</div>
