{%- comment %}

  Product Detail Snippet
  ------------------------------------------------------------------------------

  Usage:

  {% include 'product-detail',
              product: { product } - required
  %}

{% endcomment -%}

{% assign current_variant = product.selected_or_first_available_variant %}

<div class="product-detail" data-product-detail>
  <div class="product-detail__child product-detail__child--gallery">
    {% include 'product-detail-gallery',
                product: product,
                current_variant: current_variant
    %}
  </div>

  <div class="product-detail__child product-detail__child--form">
    {% include 'product-detail-form',
                product: product,
                current_variant: current_variant
    %}
    <a href="#" class="btn btn-tertiary" data-story-popup-open>Open Popup</a>
  </div>

  {% include 'story-popup', product: product %}
</div>
