{%- comment %}

  Product Detail Snippet
  ------------------------------------------------------------------------------

  Usage:

  {% include 'product-detail',
              product: { product } - required
  %}

{% endcomment -%}

{% assign current_variant = product.selected_or_first_available_variant %}

<div style="display: flex;" data-product-detail>
  <div style="flex: 1; max-width: 50%;">
    {% include 'product-detail-gallery',
                product: product,
                current_variant: current_variant
    %}
  </div>

  <div style="flex: 1; max-width: 50%; padding: 60px;">
    {% include 'product-detail-form',
                product: product,
                current_variant: current_variant
    %}  
  </div>
</div>
