{%- comment %}

  Aplos Block
  ------------------------------------------------------------------------------

  Usage:

  {% include 'recipe-content',
              recipe: { string }, - article.content
              target: { string } - one of 'recipe' or 'ingredients'
  %}

{% endcomment -%}

{% if target == 'recipe' %}
  {% if recipe contains '<ul' %}
    <div class="recipe-content">
      {% assign split_recipe = recipe | split: '<ul' %}
      {{ recipe }}
    </div>
  {% else %}
    <div class="recipe-content">{{ recipe }}</div>
  {% endif %}
{% elsif target == 'ingredients' %}
  {% if recipe contains '<ul' %}
    {% assign split_recipe = recipe | split: '<ul' %}
    {% for piece in split_recipe %}
      {% if piece contains '</ul>' %}
        <div class="recipe-ingredients">
          {{ piece | prepend: '<ul'}}
        </div>
      {% endif %}
    {% endfor %}
  {% endif%}
{% else %}
  <div class="recipe-content">{{ recipe }}</div>
{% endif %}