{%- comment %}

  Transaction Bar Snippet
  ------------------------------------------------------------------------------

  Usage:

  {% include 'transaction-bar',
              product: { product } - required
              current_variant: { variant} - optional
              subtitle: { string } - optional
              submit_button_contents: { string } - required
  %}

{% endcomment -%}

<div class="transaction-bar" data-transaction-bar>
  <div class="aplos-4side-container drawer-shifter">
    <div class="transaction-bar__unit-container">
      <div class="transaction-bar__unit transaction-bar__unit--title">
        <div class="transaction-bar__pad">
          <h2 class="h1">{{ product.title }}</h2>
        </div>
      </div>

      {% if subtitle != blank %}
        <div class="transaction-bar__unit transaction-bar__unit--subtitle">
          <div class="transaction-bar__pad">
            <div class="p2">
              {{ subtitle }}
            </div>
          </div>
        </div>  
      {% endif %}

      <div class="transaction-bar__unit transaction-bar__unit--quantity">
        <div class="transaction-bar__pad">
          <div class="quantity-adjuster quantity-adjuster--light" data-quantity-adjuster>
            <button class="quantity-adjuster__decrement" data-decrement>-</button>
            <input type="number" value="1" min="1" />
            <button class="quantity-adjuster__increment" data-increment>+</button>
          </div>
        </div>
      </div>

      <div class="transaction-bar__unit transaction-bar__unit--add-to-cart">
        <button
          type="submit"
          name="add"
          class="btn btn-primary btn-block"
          data-add-to-cart
          {% unless current_variant.available %}disabled="disabled"{% endunless %}>
          {{ submit_button_contents }}
        </button>
      </div>
    </div>
  </div>
</div>
