{%- comment %}

  Transaction Bar Snippet
  ------------------------------------------------------------------------------

  Usage:

  {% include 'transaction-bar',
              product: { product } - required
              current_variant: { variant} - optional
              subtitle: { string } - optional
              submit_button_contents: { string } - required
  %}

{% endcomment -%}

<div class="transaction-bar" data-transaction-bar>
  <div class="aplos-4side-container drawer-shifter">
    <div class="transaction-bar__unit-container">
      <div class="transaction-bar__unit transaction-bar__unit--title">
        <div class="transaction-bar__pad">
          <h2 class="h1">{{ product.title }}</h2>
        </div>
      </div>

      <div class="transaction-bar__unit transaction-bar__unit--quantity-mobile">
        <div class="transaction-bar__pad">
          <div class="p2">
            <div class="quantity-adjuster quantity-adjuster--light quantity-adjuster--mini" data-quantity-adjuster>
              <button class="quantity-adjuster__decrement" data-decrement>-</button>
              <input type="number" value="1" min="1" />
              <button class="quantity-adjuster__increment" data-increment>+</button>
            </div> 
          </div>
        </div>
      </div>      

      {% comment %}
        <!-- if product is subscription product -->        
        <style>
          .transaction-bar__unit svg {
            stroke: black;
            transform: rotate(180deg);
          }
        </style>
        <div class="transaction-bar__unit transaction-bar__unit--subscription d-md-none">
          <div class="transaction-bar__pad p2" style="padding: 0; align-items: stretch; flex-direction: column; justify-content: space-evenly">
            <div style="color: rgba(0, 0, 0, 0.5); padding: 6px 15px 6px 17px; border-bottom: 1px solid black;">One-Time</div>
            <div style="padding: 6px 15px 6px 17px; min-width: 116px; display: flex; justify-content: space-between;">
              Weekly
              <div style="width: 11px;">
                {% render 'icon-caret-down' %}
              </div>
<!--                 <select>
                <option>Weekly</option>
                <option>Monthly</option>
                <option>Bi-Monthly</option>
              </select> -->
            </div>
          </div>
        </div>
        {% endcomment %}

      {% if subtitle != blank %}
        <div class="transaction-bar__unit transaction-bar__unit--subtitle">
          <div class="transaction-bar__pad">
            <div class="p2">
              {{ subtitle }}
            </div>
          </div>
        </div>  
      {% endif %}

      {% comment %}
      <div class="transaction-bar__unit transaction-bar__unit--quantity-desktop">
        <div class="transaction-bar__pad">
          <div class="dot-group">
            <label>
              Qty:
            </label>
            <div class="dots">
              <div class="dot is-active" data-dot-qty="1">1</div>
              <div class="dot" data-dot-qty="2">2</div>
              <div class="dot" data-dot-qty="4">4</div>
            </div>
          </div>
        </div>
      </div>
      {% endcomment %}
      <div class="transaction-bar__unit transaction-bar__unit--add-to-cart">
        <button
          type="submit"
          name="add"
          class="btn btn-add-to-cart btn-block"
          data-add-to-cart
          {% unless current_variant.available %}disabled="disabled"{% endunless %}>
          {{ submit_button_contents }}
        </button>
      </div>
    </div>
  </div>

  <a href="#" data-story-popup-open class="story-popup-trigger" title="Open Popup">
    {% render 'icon-caret-down' %}
  </a>
</div>
