// ------------
// Aplos
// ------------

.aplos-row {
  display: flex;
  flex-direction: column;

  // Fixed rows are non-responsive
  &--fixed {
    flex-direction: row;
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;
    min-height: 100vh;
    min-height: var(#{'--viewport-height'});
    
    &--shorter {
      min-height: 35vh;
    }

    &--short {
      min-height: 50vh;
    }

    &--medium {
      min-height: 66vh;
    }
  } 
}

.aplos-block {
  position: relative;
  z-index: 1;
  flex: 1;
  padding: $spacing-ml $spacing-ml $spacing-md;
  min-height: 100vw; // make everything square

  // For short rows or fixed rows with multiple blocks, the blocks can be shorter
  @include media-breakpoint-down(sm) {
    .aplos-row--shorter &,
    .aplos-row--short &,
    .aplos-row--fixed.aplos-row--2-block &,
    .aplos-row--fixed.aplos-row--3-block & {
      min-height: 50vw;
    }
  }

  @include media-breakpoint-up(md) {
    padding: $spacing-lg;
    min-height: 0;
  }

  &--light {
    .aplos-block__content,
    .aplos-block__top-title,
    .aplos-block__bottom-title {
      color: $white;
    }
  }

  &--empty {
    padding: 0 !important;
  }
}

.aplos-block__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 580px;

  opacity: 0;
  transition: opacity 1s cubic-bezier(0.54, 0.01, 0.68, 1.02);

  .is-ready & {
    opacity: 1;
  }
}

.aplos-block__title {
  @include h2;
  line-height: 1.4;

  @include media-breakpoint-up(md) {
    @include h1;
    font-size: $font-size-xxl;
    line-height: $line-height-smaller;
  }

  p {
    margin-bottom: 2.5rem;
    &:last-child {
      margin: 0;
    }
  }
}

.aplos-block__top-title {
  @include h6;
  margin-bottom: 1rem;
}

.aplos-block__bottom-title {
  @include h6;
  margin-top: 1rem;
}

.aplos-block__bg {
  background-color: $black;

  &, img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  img {
    object-fit: cover;
    transition: opacity 0.6s ease-out;

    &[data-src] {
      opacity: 0;
    }    
  }
}


.aplos-block--philosophy {
  display: flex;
  align-items: center;

  &, .aplos-block__content {
    justify-content: space-between;
  }
}
