// -----------------------------------------------------------------------------
// Dots
// -----------------------------------------------------------------------------

.dots {
  margin: 0 -#{($dot-spacing / 2)} -#{$dot-bottom-margin}; // account for the 2px padding + 1px border on the dot
  padding: 0;
  overflow: hidden;
}

.dot {
  display: inline-block;
  position: relative;
  margin-left: $dot-spacing / 2;
  margin-right: $dot-spacing / 2;
  margin-bottom: $dot-spacing;
  height: $dot-size;
  width: $dot-size;
  cursor: pointer;
  vertical-align: top;
  border: $dot-border-width solid $dot-border-color;
  border-radius: $dot-border-radius;
  overflow: hidden;

  line-height: $dot-size - 2px;
  font-size: $dot-font-size;
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  text-align: center;

  &.is-active {
    border-color: $dot-active-border-color;
  }
}
