// -----------------------------------------------------------------------------
// Dots
// -----------------------------------------------------------------------------

.dots {
  margin: 0 -#{($dot-spacing-mobile / 2)} -#{$dot-bottom-margin}; // account for the 2px padding + 1px border on the dot
  padding: 0;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    margin-left: -$dot-spacing/2;
    margin-right: -$dot-spacing/2;
  }
}

.dot {
  display: inline-block;
  position: relative;
  margin-left: $dot-spacing-mobile/2;
  margin-right: $dot-spacing-mobile/2;
  margin-bottom: $dot-bottom-margin;
  height: $dot-size;
  width: $dot-size;
  cursor: pointer;
  vertical-align: top;
  border: $dot-border-width solid transparent;
  border-radius: $dot-border-radius;
  overflow: hidden;
  transition: color 0.1s ease-out, border-color 0.25s ease-out;

  @include media-breakpoint-up(md) {
    margin-left: $dot-spacing/2;
    margin-right: $dot-spacing/2;
  }

  @extend .p2;
  line-height: $dot-size;
  text-align: center;
  color: $body-color;

  &:hover {
    color: transparentize($body-color, 0.75);
  }

  &.is-active {
    border-color: $dot-border-color;
    color: $body-color;
  }
}

// Wraps dots + label
.dot-group {
  display: flex;
  align-items: center;
  
  label {
    margin: 0 13px 0 0;
  }

  // @include media-breakpoint-up(lg) {
  //   margin-right: 45px;
  // }

  .dots {
    display: inline-block;
  }
}
