// -------------------------
// Drawer
// -------------------------

body.drawer-open {
  overflow: hidden;
}

.drawer {
  position: fixed;
  z-index: $zindex-drawer;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $drawer-bg;
  pointer-events: none;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateX(100%);
  transition: all $transition-duration-base $transition-timing-function-base;

  // For a drawer that slides out from the left side
  &--left {
    left: 0;
    right: auto;
    transform: translateX(-100%);
  }

  &.is-visible {
    pointer-events: auto;
    transform: translateX(0%);
    transition: all $transition-duration-base $transition-timing-function-base;
  }

  // Ensure that the drawer is full width on screen sizes below this
  @include media-breakpoint-up('sm') {
    max-width: $drawer-max-width;
  }

  &, h1, h2, h3, h4, h5, h6, a {
    color: $drawer-color;
  }

  .drawer__inner {
    padding: $drawer-padding-vertical $drawer-padding-horizontal;
  }

  .drawer__header {
    position: relative;
    margin-bottom: 20px;
    padding: 30px 0 $headings-margin-bottom;

    .drawer__close {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
    }
  }

  .drawer__header-title {
    margin: 0;
    padding: 0;
    font-size: $drawer-header-font-size;
  }

  .drawer__body {

    &--flush {
      margin-left: -#{$drawer-padding-horizontal};
      margin-right: -#{$drawer-padding-horizontal};
    }
  }

  .drawer__body-contents {

    .drawer__body--flush & {
      padding-left: $drawer-padding-horizontal;
      padding-right: $drawer-padding-horizontal;
    }
  }

  .drawer__footer {
    margin-top: 20px;
    padding: $headings-margin-bottom 0 0;
  }
}

.drawer-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-drawer-backdrop;
  background-color: $drawer-backdrop-color;
  mix-blend-mode: hard-light;
  opacity: 0;
  pointer-events: none;
  transition: all $transition-duration-slide $transition-timing-function-slide-out;

  &.is-visible {
    opacity: $drawer-backdrop-opacity;
    pointer-events: auto;
    transition: all $transition-duration-slide $transition-timing-function-slide-in;
  }
}
