// -------------------------
// Drawer
// -------------------------

$drawer-vertical-spacing: 70px;

body.drawer-open {
  overflow: hidden;
}

.drawer {
  position: fixed;
  z-index: $zindex-drawer;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: $drawer-bg;
  pointer-events: none;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateX(100%);
  transition: all $transition-duration-base $transition-timing-function-base;

  // For a drawer that slides out from the left side
  &--left {
    left: 0;
    right: auto;
    transform: translateX(-100%);
  }

  &.is-visible {
    pointer-events: auto;
    transform: translateX(0%);
    transition: all $transition-duration-base $transition-timing-function-base;
  }

  // Ensure that the drawer is full width on screen sizes below this
  @include media-breakpoint-up('sm') {
    max-width: $drawer-max-width;
  }

  &, h1, h2, h3, h4, h5, h6, a {
    color: $drawer-color;
  }
}

.drawer__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
  padding: $drawer-padding-vertical $drawer-padding-horizontal 0;

  .drawer__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
  }
}

.drawer__header-title {
  font-size: $drawer-header-font-size;
  font-family: $font-family-sans-serif; // @TODO
}

.drawer__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: $drawer-padding-vertical $drawer-padding-horizontal 0;
}

.drawer__block {
  & + & {
    margin-top: $drawer-vertical-spacing;
  }
}

.drawer__footer {
  margin-top: $drawer-vertical-spacing;
  padding: 0 $drawer-padding-horizontal $drawer-padding-vertical;
  
  ul {
    @include list-inline;

    li {
      &:not(:last-child):after {
        content: '/';
      }
    }
  }
}

.drawer-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-drawer-backdrop;
  background-color: $drawer-backdrop-color;
  mix-blend-mode: hard-light;
  opacity: 0;
  pointer-events: none;
  transition: all $transition-duration-slide $transition-timing-function-slide-out;

  &.is-visible {
    opacity: $drawer-backdrop-opacity;
    pointer-events: auto;
    transition: all $transition-duration-slide $transition-timing-function-slide-in;
  }
}
