// -------------------------
// Expandable List
// -------------------------

// .expandable-list(.is-open)
//   .expandable-list__header
//     a.expandable-list__header-title
//   .collapse
//     .expandable-list__body

.expandable-list {
  @extend .p2;
  border-top: 1px solid $black;

  &:last-child {
    border-bottom: 1px solid $black;
  }
}

.expandable-list__header {
  display: block;
  padding: 18px 0 14px;
}

.expandable-list__body {
  padding: 12px 0 23px;

  p:last-child {
    margin-bottom: 0;
  }
}
