// -------------------------
// Expandable List
// -------------------------

// .expandable-list(.is-open)
//   .expandable-list__header
//     a.expandable-list__header-title
//   .collapse
//     .expandable-list__body

.expandable-list {
  @extend .p2;
  border-top: 1px solid $black;

  &:last-child {
    border-bottom: 1px solid $black;
  }
}

.expandable-list__header {
  display: block;
  position: relative;
  padding: 18px 20px 14px 0;

  // Add a little plus / minus sign
  // before - horizontal bar
  // after - vertical bar
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 22px;
    right: 0;
    height: 2px;
    width: 10px;
    pointer-events: none;
    background-color: $gray-darkest;
    transition: transform 300ms ease-out;
  }

  &:after {
    transform: rotate(90deg);
  }


  &[aria-expanded="true"]:after {
    transform: rotate(180deg);
  }
}

.expandable-list__body {
  padding: 12px 0 23px;

  p:last-child {
    margin-bottom: 0;
  }
}
