// -------------------------
// Modals
// -------------------------

.minimal-input-box {
  position: relative;
}

.minimal-input-box__input {
  @extend .form-control;
  padding-right: 30px;
}

.minimal-input-box__submit {
  @extend .btn-link;
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 0;
  padding: 0;
  width: 30px;
  text-align: right;

  svg.icon-arrow {
    width: 10px;
    height: 9px;
    transform: translateY(-4px);
  }
}
