// -------------------------
// Page
// -------------------------


// Page Header - Only use to output important info to the page for SEO
.page-header {
  display: none !important;
}

.page-hero {
  height: 100vh;
  max-height: 500px;
  max-height: 100vw;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 $spacing-ml;

  @include media-breakpoint-up(md) {
    max-height: none;
    padding: 0 $spacing-lg;
  }
}

.page-hero__title {
  width: 100%;
  margin-bottom: 0;
  color: $white;

  .page-hero--align-center & {
    text-align: center;
  }
}

.page-hero__bg {
  z-index: -1;

  &, &:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

// Page title
.page-title {
  @extend .h1;
  margin-bottom: $spacer*4;
  text-align: left;
  
  @include media-breakpoint-down(sm) {
    margin-bottom: $spacer*3;
    padding-left: 1em;
    padding-right: 1em;
    font-size: $font-size-xxxl;
    text-align: center;

    br {
      display: none;
    }
  }
}

.page-banner {
  position: relative;
  min-height: 400px;
  height: 45vh;
  margin-bottom: 30px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 90px;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.page-navigation-placement {
  position: fixed;
  bottom: 100px;
  width: 100%;
  max-width: 230px;

  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }

  @include media-breakpoint-up(lg) {
    max-width: 300px;
  }  
}

.page-navigation {
  @include p2;
  border-top: 1px solid $body-color;
}

.page-navigation__link {
  display: block;
  padding: 9px 0;
  border-bottom: 1px solid $body-color;
}
