// -------------------------
// Pagination
// -------------------------

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__nav {
  @include p2;

  &:first-child {
    margin-right: 40px;
  }

  &:last-child {
    margin-left: 40px;
  }  

  @include media-breakpoint-up(lg) {
    &:first-child {
      margin-right: 90px;
    }

    &:last-child {
      margin-left: 90px;
    }
  }
}

.pagination__nav--link {
  @extend .animated-link; 
}
