// -------------------------
// Promo - Image + text + cta
// -------------------------

/*
 * Promos are made up of a parent element (.promo) with 2 direct children (.promo__col).
 * On small screens they stack vertically, above $screen-md-min they split the screen in different ratios depending on type.
 * The column with the image should always come *first* in the markup, we use flexbox to re-order the columns depending on the layout
 */

.promo {
  background-color: $black;
  min-height: 100vh;

  @include media-breakpoint-up('lg') {
    display: flex;
    align-items: stretch;

    &--layout-right {
      flex-direction: row-reverse;
    }

    // By default, promos have 2 columns that split the space evenly
    .promo__col {
      width: 50%;
    }
  }
}

.promo__col {
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;

  &.promo__col--image {
    padding: 0;
  }
}

.promo__col-inner {
  height: 100%;
  display: flex;
  align-items: center;

  .promo__col--text & {
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
  }
}

.promo__img-wrapper {
  &, img {
    height: 100%;
    width: 100%;
  }

  img {
    object-fit: cover;
  }
}

.promo__title {
  color: $white;
}

.promo__text-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

  @include media-breakpoint-up('lg') {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }

  .btn {
    margin-top: 30px;
  }
}

.promo__text {
  color: $white;
  @extend .h1; // @TODO - Make a better style instead of taking from h1?
  line-height: 1;

  &, p:last-child {
    margin-bottom: 0;
  }
}
