// Quantity Adjuster
//
// Single component with number input and +/- buttons

.quantity-adjuster {
  @include p2;
  display: inline-block;
  position: relative;
  height: $quantity-adjuster-height;
  border: $quantity-adjuster-border-width solid $quantity-adjuster-border-color;
  border-radius: 8px;
  font-size: 0; // remove spacing between elements without using floats

  button {
    border: none;
    background: none;
    -webkit-appearance: none;
    padding: 0;
    height: $quantity-adjuster-inner-height;
    width: 38px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    transition: opacity 120ms ease-out;

    &[disabled] {
      opacity: 0.25;
      cursor: $cursor-disabled;
    }
  }

  input[type="number"] {
    width: 46px;
    height: $quantity-adjuster-inner-height - 2px;
    position: relative;
    top: 1px;    
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: $quantity-adjuster-border-color;
    text-align: center;
    font-size: $quantity-adjuster-font-size;
    pointer-events: none;
    -moz-appearance: textfield; // Remove the spinner - firefox + chrome

    &[disabled] {
      opacity: 0.25;
      cursor: $cursor-disabled;
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // Create the plus / minus buttons
  .quantity-adjuster__increment,
  .quantity-adjuster__decrement {
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 6px;
      background-color: $quantity-adjuster-border-color;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  .quantity-adjuster__decrement {
    &:before {
      width: 8px;
    }

    &:after {
      display: none;
    }    
  }
}

// For quantity adjusters on light backgrounds
.quantity-adjuster--light {
  border-color: $black;

  input[type="number"] {
    color: $black;
  }

  .quantity-adjuster__increment,
  .quantity-adjuster__decrement {
    &:before,
    &:after {
      background-color: $black;
    }
  }
}

// Tiny version with increment/decrement stacked on the right
$qa-mini-height: 43px;

.quantity-adjuster--mini {
  border: none;
  border-radius: 0;
  height: $qa-mini-height;
  padding: 0 17px 0 0;

  input[type="number"] {
    height: $qa-mini-height;
    width: 27px;
  }

  .quantity-adjuster__increment,
  .quantity-adjuster__decrement {
    position: absolute;
    right: 0;
    height: 24px;
    width: 24px;

    &:before,
    &:after {
      width: 8px;
    }
  }

  .quantity-adjuster__increment {
    top: -4px;
  }

  .quantity-adjuster__decrement {
    top: auto;
    bottom: -6px;
  }
}
