// -------------------------
// Recipes
// -------------------------

.recipe-content {
  p:last-child {
    margin-bottom: 0;
  }
}

.recipe-ingredients {
  @include p2;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 11px 0;
      border-bottom: 1px solid;

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }

  .template-article & {
    margin-bottom: $spacer*2;
  }
}
