// -------------------------
// Swiper styles
// -------------------------
.swiper-pagination-bullet {
  height: $swiper-bullet-size;
  width: $swiper-bullet-size;  
  margin: 0 $swiper-bullet-spacing/2;
  background-color: $swiper-bullet-color;
  opacity: $swiper-bullet-opacity;
  transition: opacity $transition-duration-fast $transition-timing-function-out;

  &:hover,
  &:focus,
  &.swiper-pagination-bullet-active {
    opacity: $swiper-bullet-active-opacity;
    transition: opacity $transition-duration-fast $transition-timing-function-in;  
  }
}

.swiper-navigation {
  @extend .aplos-container;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.swiper-navigation__controls {
  position: relative;
}

.swiper-prev,
.swiper-next {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-prev {
  left: 0;
}

.swiper-next {
  right: 0;
}

// .swiper-arrow {
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   height: 40px;
//   width: 40px;
//   position: absolute;
//   z-index: 1;
//   top: 50%;
//   transform: translateY(-50%);
//   cursor: pointer;

//   &--prev {
//     left: 0;
//     transform: translateY(-50%) rotate(180deg);
//   }

//   &--next {
//     right: 0;
//   }

//   .icon-arrow-right {
//     position: relative;
//     top: -1px;
//     width: 12px;
//   }
// }