// -------------------------
// Testimonials
// -------------------------

.testimonals-container {
  padding-top: 76px;
  padding-bottom: 76px;

  @include media-breakpoint-up(md) {
    padding-top: 157px;
    padding-bottom: 126px;    
  }

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-navigation {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.testimonial {
  width: 100%;
  text-align: center;
  padding: 0 $spacing-ml;
}

.testimonial__content {
  @include h1;

  @include media-breakpoint-up(md) {
    max-width: 12em;
    margin: 0 auto;
  }
}

.testimonial__author {
  @include p2;
  margin-top: 34px;

  @include media-breakpoint-up(md) {
    @include h2;
    margin-top: 30px;
  }
}