// -------------------------
// Account Pages
// -------------------------

// Not scoped to a specific account page

.account-block {
  margin-bottom: 45px;

  address {
    margin-bottom: $spacer;
  }
}

.account-block__title {

}

.account-block__content {
  @include p2;
}

table.order-detail-totals {
  @include media-breakpoint-up('lg') {
    max-width: 450px;
    margin-left: auto;
  }
}

.account-content {

}

.account-sidebar {
  @extend .col-lg-3;
  @extend .col-xl-2;
}

.account-content--has-sidebar {
  @extend .col-lg-9;
}

.account-sidebar__content {
  margin-bottom: 4rem;

  @include media-breakpoint-up('lg') {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.account-section__title,
.account-sidebar__title {
  margin-bottom: 2.5rem;
}

.account-sidebar__title {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.account-sidebar__menu {
  @include list-unstyled;
  @include p2;

  li {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}

.account-sidebar__menu-link {
  padding-bottom: 4px;

  &.is-active {
    border-bottom: 1px solid currentColor;
  }
}
