// stylelint-disable selector-no-qualifying-type

//
// Base styles
//


.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent; // $btn-border-width solid transparent;
  padding: 25px 93px;
  font-size: $btn-font-size;
  line-height: $btn-line-height;
  border-radius: $border-radius;
  transition: $btn-transition;

  &:focus,
  &.focus {
    outline: 0;
    // box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    // @include box-shadow(none);
  }

  // &:not(:disabled):not(.disabled):active,
  // &:not(:disabled):not(.disabled).active {
  //   @include box-shadow($btn-active-box-shadow);

  //   &:focus {
  //     @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
  //   }
  // }

  &.btn-tall {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  background-color: $butter;

  @include hover {
    background-color: $butter-dark;
  }
}

.btn-primary-reverse {
  background-color: $butter-dark;

  @include hover {
    background-color: $butter;
  } 
}

.btn-primary-alt {
  background-color: $black;
  color: $white;

  @include hover {
    color: $black;
    background-color: $butter-dark;
  }  
}

.btn-primary-white {
  background-color: $white;
  color: $black;

  @include hover {
    color: $black;
    background-color: $butter-dark;
  }  
}

.btn-secondary {
  border-color: $gray;
  background-color: $white;
  padding: 20px 50px 18px;

  &.btn-tall {
    padding-top: 26px;
    padding-bottom: 24px;
  }  
}

.btn-tertiary {
  border-color: $black;
  padding: 19px 30px 15px;

  &.btn-tall {
    padding-top: 25px;
    padding-bottom: 22px;
  }
}

.btn-light-outline {
  border-color: $white;
  color: $white;
  background-color: transparent;

  @include hover {
    background-color: $white;
    color: $black;
  }
}


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  text-decoration: $link-decoration;
  background: none;
  border: none;

  // @include hover {
  //   color: $link-hover-color;
  //   text-decoration: $link-hover-decoration;
  // }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }

  // &:disabled,
  // &.disabled {
  //   color: $btn-link-disabled-color;
  //   pointer-events: none;
  // }

  // No need for an active state here
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;
  // Block buttons don't need a bunch of horizontal padding to define their horizontal size
  // So reduce it which allows them to fit better (less text wrapping)
  padding-left: 10px;
  padding-right: 10px;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
