// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

@if $enable-grid-classes {
  // .container {
  //   @include make-container();
  //   @include make-container-max-widths();
  // }
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but with 100% width for
// fluid, full width layouts.

@if $enable-grid-classes {
  .container,
  .container-fluid {
    @include make-container();
  }
}

// Fluid max container
//
// Utilizes the mixin meant for fixed width containers, but with 100% width for
// fluid, full width layouts.  Has a max width width of the largest container width to work with normal layouts.

@if $enable-grid-classes {
  .container-fluid-max {
    @include make-container();
    max-width: $largest-container-width;
  }
}

// Row
//
// Rows contain and clear the floats of your columns.

@if $enable-grid-classes {
  .row {
    @include make-row();
  }

  // Remove the negative margin from default .row, then the horizontal padding
  // from all immediate children columns (to prevent runaway style inheritance).
  .no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

// Columns
//
// Common styles for small and large grid columns

@if $enable-grid-classes {
  @include make-grid-columns();
}


// Aplos Grid
.aplos-container {
  width: 100%;
  padding-right: $spacing-sm;
  padding-left: $spacing-sm;
  margin-right: auto;
  margin-left: auto;

  @include media-breakpoint-up(sm) {
    padding-right: $spacing-smd;
    padding-left: $spacing-smd;
  }

  @include media-breakpoint-up(md) {
    padding-right: $spacing-md;
    padding-left: $spacing-md;
  }

  @include media-breakpoint-up(xl) {
    padding-right: $spacing-lg;
    padding-left: $spacing-lg;
  }  
}

.aplos-4side-container {
  width: 100%;
  padding-right: $spacing-sm;
  padding-left: $spacing-sm;
  margin-right: auto;
  margin-left: auto;  
  padding: $spacing-sm;

  @include media-breakpoint-up(sm) {
    padding: $spacing-smd;
  }

  @include media-breakpoint-up(md) {
    padding: $spacing-md;
  }

  @include media-breakpoint-up(xl) {
    padding: $spacing-lg;
  }   
}
