//
// Basic Bootstrap table
//

.table {
  width: 100%;
  margin-bottom: $spacer;
  // color: $table-color;
  // background-color: $table-bg; // Reset for nesting within parents with `background-color`.
  @include p2;

  th,
  td {
    padding: $table-cell-padding-y $table-cell-padding-x;
    vertical-align: top;
  }

  td {
    border-top: $table-border-width solid $table-border-color;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: $table-border-width solid $table-border-color;
    padding-top: 0;
    padding-bottom: $table-cell-padding-y * 0.75;
  }

  tbody + tbody {
    border-top: $table-border-width solid $table-border-color;
  }
}

.table-borderless {
  th,
  td,
  thead th,
  tbody + tbody {
    border: 0;
  }
}

.table-headless {
  thead {
    display: none;
  }

  tbody tr:first-child td {
    border-top: none;
    padding-top: 0;
  }
}

.table-sm {
  th,
  td {
    padding: $table-cell-padding-sm-y $table-cell-padding-sm-x;
  }
}

// Responsive tables
//
// Generate series of `.table-responsive-*` classes for configuring the screen
// size of where your table will overflow.

.table-responsive {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
      }
    }
  }
}
