<div data-section-id="{{ section.id }}" data-section-type="fourofour">
  <div class="four04">    
    {% if section.settings.content != blank %}
      <div class="aplos-container">        
        <div class="four04__content">{{ section.settings.content }}</div>
      </div>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="four04__bg">
        {% for block in section.blocks %}
          <div class="four04__bg-panel" {{ block.shopify_attributes }}>
            <img src="{{ block.settings.image | img_url: '1000x' }}" />
          </div>
        {% endfor %}    
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "404 Page",
    "max_blocks": 2,
    "settings": [
      {
        "id": "content",
        "type": "richtext",
        "label": "Content",
        "default": "<p>Need help finding your way?  Let us take you <a href=\"/\">home</a>.</p>"
      }
    ],
    "blocks": [
      {
        "type": "background_image",
        "name": "Background Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
