{% capture article_date %}{{ article.published_at | time_tag: format: 'month_day' }}{% endcapture %}
{% capture subtitle %}{{ 'blogs.article.author_on_date_html' | t: author: article.author, date: article_date }}{% endcapture %}

<div class="layout-content-wrapper{% if article.image %} flush-top{% endif %}" data-section-id="{{ section.id }}" data-section-type="article">
  {% if article.image %}
    {% render 'page-banner'
            image: article.image
    %}
  {% endif %}
  
  <div class="aplos-container drawer-shifter">
    <article role="article" itemscope itemtype="http://schema.org/Article">

    <div class="row">
      <div class="col-md-4 col-lg-3">
        <h1 class="page-title">{{ article.title }}</h1>
        {% include 'recipe-content', recipe: article.content, target: 'ingredients' %}
      </div>

      <div class="col-md-8 col-lg-7 offset-lg-2">
        <div class="rte">
          {% include 'recipe-content', recipe: article.content, target: 'recipe' %}
        </div>
      </div>
    </article>
  </div>

</div>

{% schema %}
  {
    "name": "Article",
    "settings": []
  }
{% endschema %}
