{% comment %} assign defaults {% endcomment %}

{% paginate blog.articles by 16 %}

<div class="layout-content-wrapper drawer-shifter" data-section-id="{{ section.id }}" data-section-type="blog">
  <div class="aplos-container">
    <div class="content-grid">
      <div class="content-grid__item">
        <h1 class="page-title">{{ blog.title }}</h1>
      </div>

      {% for article in blog.articles %}
        <div class="content-grid__item">
          {% include 'article-card', article: article %}
        </div>
      {% endfor %}

      {% if paginate.pages > 1 %}
        <hr />
        {% include 'pagination' %}
      {% endif %}
    </div> 
  </div>
</div>

{% endpaginate %}


{% schema %}
  {
    "name": "Blog",
    "settings": []
  }
{% endschema %}
