<div data-section-id="{{ section.id }}" data-section-type="cart">
  <div class="layout-content-wrapper">
    <div class="container">
      <p>You're viewing the cart page.</p>
      <p>This page is not used on the site and is not visible to visitors.</p>
    </div>
  </div>
</div>
