<footer class="footer" data-section-id="{{ section.id }}" data-section-type="footer">
  <div class="container">
    {% include 'icon-logo' %}

    {% if section.settings.linklist and linklists[section.settings.linklist].links.size > 0 %}
      <ul class="footer-menu">
        {% for link in linklists[section.settings.linklist].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if section.settings.footer_text != blank %}
      {% assign year = 'now' | date: "%Y" %}
      <div class="footer-text">
        {{ section.settings.footer_text | replace: '$year$', year | replace: '$shop$', shop.name | replace: '&nbsp;', ' ' | strip }}
      </div>
    {% endif %}
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "linklist",
        "label": "Menu"
      },
      {
        "type": "richtext",
        "id": "footer_text",
        "label": "Footer Text",
        "info": "Use '$year$' to include the current year.  Use $shop$ to include the name of your shop."
      }
    ]
  }

{% endschema %}
