<div class="drawer-shifter">
  {% render 'page-banner'
            image: section.settings.header_image
  %}
</div>

{% schema %}
  {
    "name": "Help - Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "header_image",
        "label": "Header Image"
      }
    ]
  }
{% endschema %}