<div data-section-id="{{ section.id }}" data-section-type="hero">
  {% render 'hero',
            title: section.settings.title,
            content: section.settings.content
            cta_url: section.settings.cta_url,
            cta_text: section.settings.cta_text,
            cta_style: section.settings.cta_style,
            bg_image_desktop: section.settings.bg_image,
            bg_image_mobile: section.settings.bg_image_mobile,
            bg_video_file_url: section.settings.bg_video_file_url
  %}
</div>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA Link"
      },      
      {
        "type": "header",
        "content": "Design"
      },      
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image (Desktop)"
      },
      {
        "type": "image_picker",
        "id": "bg_image_mobile",
        "label": "Background Image (Mobile)",
        "info": "Will fallback to desktop if left empty"
      },
      {
        "type": "url",
        "id": "bg_video_file_url",
        "label": "Background Video File URL",
        "info": "Accepted file formats: mp4, ogg, avi, webm"
      },   
      {
        "type": "select",
        "id": "cta_style",
        "options": [
          { "value": "btn-primary", "label": "Primary"},
          { "value": "btn-primary-alt", "label": "Primary Alt"}
        ],
        "label": "CTA Style",
        "default": "btn-primary"
      }
    ],
    "presets": [{
      "name": "Hero",
      "category": "Content",
      "settings": {}
    }]
  }
{% endschema %}