<div class="drawer-shifter" data-section-id="{{ section.id }}">
  {% render 'hero',
            bg_image_desktop: section.settings.hero_bg_image,
            bg_image_mobile: section.settings.hero_bg_image_mobile,
  %}  
 
  <div class="bg-butter">
    <div class="aplos-4side-container">
      <div style="display: flex;">
        <div style="flex: 1">
          <h1>Natural Magic</h1>
        </div>
        <div style="flex: 1">
          <div class="h2">
            Our lives are so very fast.  With little time for reflection, we can be forgiven for confusing the art of living ambitiously with the art of living well.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Philosophy Page",
    "settings": [
      {
        "type": "header",
        "content": "Hero"
      },
      {
        "type": "image_picker",
        "id": "hero_bg_image",
        "label": "Background Image (Desktop)"
      },
      {
        "type": "image_picker",
        "id": "hero_bg_image_mobile",
        "label": "Background Image (Mobile)"
      }
    ]
  }
{% endschema %}
