// Lists

// Unstyled keeps list items block level, just removes default browser padding, margin and list-style
@mixin list-unstyled {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

@mixin list-inline {
  @include list-unstyled;

  li {
    display: inline-block;
  }
}