// -------------------------
// Mixin - Type
// -------------------------
//

@mixin h1 {
  font-family: $h1-font-family;
  font-size: $h1-font-size;
  line-height: $h1-line-height;
}

@mixin h2 {
  font-family: $h2-font-family;
  font-size: $h2-font-size;
  line-height: $h2-line-height;
}

@mixin h3 {
  font-family: $h3-font-family;
  font-size: $h3-font-size;
  line-height: $h3-line-height;
}

@mixin h4 {
  font-family: $h4-font-family;
  font-size: $h4-font-size;
  line-height: $h4-line-height;
}

@mixin h5 {
  font-family: $h5-font-family;
  font-size: $h5-font-size;
  line-height: $h5-line-height;
}

@mixin h6 {
  font-family: $h6-font-family;
  font-size: $h6-font-size;
  line-height: $h6-line-height;
}

@mixin body-copy {
  font-size: $body-copy-font-size;
  font-weight: $body-copy-font-weight;
  line-height: $body-copy-line-height;
}

// @mixin p1 {
//   font-size: $p1-font-size;
//   line-height: $p1-line-height;
// }

@mixin p2 {
  font-size: $p2-font-size;
  line-height: $p2-line-height;
  font-family: $p2-font-family;
}

@mixin p3 {
  font-size: $p3-font-size;
  line-height: $p3-line-height;
  font-family: $p2-font-family;
}

// RTE styling for long form content
@mixin article-content {
  margin-bottom: $grid-gutter-width;

  h1, h2, h3, h4, h5, h6 {
    margin: $spacer*2.8 0 $spacer*2.3;
  }

  p + p {
    margin-top: $spacer*1.7;
  }
}
